<html>
    <head><title>node zookeeper browser</title>
        <link rel='stylesheet', href='/stylesheets/style.css'/>
    </head>
    <frameset cols="30%,*">
          <frame src="/node-zk/tree" id="tree" name="tree">
          <frame src="/node-zk/get" id="content" name="content"/>
     </frameset>
</html>
