<html>
    <head><title>zookeeper browser</title>
        <link rel='stylesheet', href='/stylesheets/style.css'/>
    </head>
    <frameset cols="30%,*">
          <frame src="tree">
          <frame src="logo.html" id="content" name="content"/>
     </frameset>
</html>
